@import './variables';
@import './utilities';
@import './reset';
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.name{
  margin-top: 40px;
  padding-bottom: 24px;
  border-bottom: 2px solid #000000;
  // 將border的寬度用負值margin推回
  margin-bottom: -2px;
  &__title {
    font-size: 80px;
    line-height: 95px;
  }
}
.logo {
  margin-top: 48px;
  margin-bottom: 48px;
}
.profile{
  margin-bottom: 64px;
  &__title{
    padding-bottom: 8px;
    margin-bottom: 15px;
    border-bottom: 1px solid #000000;
    font-size: 32px;
    line-height: 48px;
    &__text {
      vertical-align: 6px;
      font-size: 24px;
      line-height: 36px;
      &--primary {
        color: $primary;
      }
    }
  }
}
.education {
  margin-bottom: 64px;
  &__title{
    padding-bottom: 8px;
    margin-bottom: 15px;
    border-bottom: 1px solid #000000;
    font-size: 32px;
    line-height: 48px;
    &__text {
      vertical-align: 6px;
      font-size: 24px;
      line-height: 36px;
      &--primary {
        color: $primary;
      }
    }
  }
}
.skill{
  background: $secondary;
  color: #ffffff;
  text-align: center;
  margin-bottom: 64px;
  padding-bottom: 40px;
  padding-top: 24px;
  &__title {
    padding-bottom: 8px;
    margin-bottom: -1px;
    border-bottom: 1px solid #ffffff;
    font-size: 32px;
    line-height: 48px;
    &__text {
      vertical-align: 6px;
      font-size: 24px;
      line-height: 36px;
    }
  }
  &__list{
    display: inline-block;
    margin-top: 40px;
    padding-left: 24px;
    border-left: 1px solid #ffffff;
    &__item {
      text-align: left;
      margin-bottom: 8px;
      &:last-child{
        margin-bottom: 0px;
      }
    }
  }
}
.experience {
  margin-bottom: 80px;
  &__title{
    padding-bottom: 8px;
    margin-bottom: 15px;
    border-bottom: 1px solid #000000;
    font-size: 32px;
    line-height: 48px;
    &__text {
      vertical-align: 6px;
      font-size: 24px;
      line-height: 36px;
      &--primary {
        color: $primary;
      }
    }
  }
  &__content{
    padding-left: 24px;
    margin-left: 24px;
    border-left: 1px solid #96A9C4;
    &__text{
      width: 642px;
      font-size: 20px;
      line-height: 30px;
    }
    &__img{
      text-align: center;
      line-height: 100px;
      height: 100px;
      width: 100px;
    }
  }
}
.contact{
  background: $secondary;
  color: #ffffff;
  text-align: center;
  padding-bottom: 40px;
  padding-top: 24px;
  &__title {
    padding-bottom: 8px;
    margin-bottom: -1px;
    border-bottom: 1px solid #ffffff;
    font-size: 32px;
    line-height: 48px;
    &__text {
      vertical-align: 6px;
      font-size: 24px;
      line-height: 36px;
    }
  }
  &__list{
    margin-top: 24px;
  }
}